@page "/SearchPage"
@inject HttpClient httpClient

<h3>SearchPage</h3>

@code {

    List<CompanyTickerNameDto> CompaniesList;

    protected async override Task OnInitializedAsync()
    {
        CompaniesList = new List<CompanyTickerNameDto>();
        //await GetCompaniesList();

    }

    

}
